In [34]:
import pymysql
import sqlalchemy as alch
from getpass import getpass
import pandas as pd
import os
import cryptography
from bs4 import BeautifulSoup
import requests
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import re

In [9]:
%run main.ipynb

{'Zed', 'Marvin', 'Looky-loo woman', 'Mia', 'Gawker #1', 'Pumpkin', 'Raquel', 'Ed Sullivan', 'Manager', 'Trudi', 'English Dave', 'Gawker #2', 'Pedestrian', 'The Wolf', 'Sportscaster #2', 'Fabienne', 'Waitress', 'Sportscaster #1', 'Preacher (Emil Simkus)', 'Esmarelda', 'The Gimp', 'Butch', 'Roger', 'Buddy', 'Maynard', 'Marsellus', 'Honey Bunny', 'Fourth man', 'Jody', 'Klondike', 'Lance', 'Mother', 'Jimmie', 'Capt. Koons', 'Brett', 'Jules', 'Vincent'}
...I'll lend it to you. It's a great book on body piercing.
You know how they use that gun when they pierce your ears? They don't use that when they pierce your nipples, do they?
Forget that gun. That gun goes against the entire idea behind piercing. All of my piercing, sixteen places on my body, every one of 'em done with a needle. Five in each ear. One through the nipple on my left breast. One through my right nostril. One through my left eyebrow. One through my lip. One in my clit. And I wear a stud in my tongue.
Total occurrences: 24
Total occurrences: 2
Total occurrences: 3
                 Character  Count   Sum
0                  Vincent    259  2586
1                    Jules    209  3221
2                    Butch    135  1254
3                 Fabienne     90   705
4                      Mia     81  1009
5                  Pumpkin     62   881
6                 The Wolf     54  1117
7                    Lance     50   693
8              Honey Bunny     39   267
9                    Brett     27    89
10                  Jimmie     26   397
11                 Maynard     21   157
12                    Jody     21   212
13               Esmarelda     20   153
14               Marsellus     20   453
15            English Dave     11    84
16                     Zed     10    67
17             Ed Sullivan      7    77
18                   Buddy      6    38
19                 Manager      5    71
20                  Raquel      4    41
21                  Mother      3    41
22         Sportscaster #1      3    59
23               Gawker #2      2    26
24              Fourth man      2     7
25                  Marvin      2    10
26         Sportscaster #2      2    77
27             Capt. Koons      2   533
28                Waitress      2     9
29               Gawker #1      1     4
30              Pedestrian      1     4
31  Preacher (Emil Simkus)      1     5
32                   Roger      1     4
33                The Gimp      1     1
34                Klondike      1     3
35                   Trudi      1    23
36         Looky-loo woman      1     6
                 Character  Count   Sum  Mentions
0                  Vincent    259  2586        22
1                    Jules    209  3221        18
2                    Butch    135  1254        18
3                 Fabienne     90   705         5
4                      Mia     81  1009        12
5                  Pumpkin     62   881         2
6                 The Wolf     54  1117         2
7                    Lance     50   693         3
8              Honey Bunny     39   267         3
9                    Brett     27    89         6
10                  Jimmie     26   397        22
11                 Maynard     21   157         1
12                    Jody     21   212         1
13               Esmarelda     20   153         4
14               Marsellus     20   453        31
15            English Dave     11    84         0
16                     Zed     10    67        11
17             Ed Sullivan      7    77         0
18                   Buddy      6    38         4
19                 Manager      5    71         3
20                  Raquel      4    41         4
21                  Mother      3    41        26
22         Sportscaster #1      3    59         0
23               Gawker #2      2    26         0
24              Fourth man      2     7         0
25                  Marvin      2    10         5
26         Sportscaster #2      2    77         0
27             Capt. Koons      2   533         1
28                Waitress      2     9         2
29               Gawker #1      1     4         0
30              Pedestrian      1     4         0
31  Preacher (Emil Simkus)      1     5         0
32                   Roger      1     4         0
33                The Gimp      1     1         2
34                Klondike      1     3         0
35                   Trudi      1    23         2
36         Looky-loo woman      1     6         0

C:\Users\gqsal\AppData\Local\Temp\ipykernel_18828\3561032519.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask = script["Line"].str.contains(regex)
C:\Users\gqsal\AppData\Local\Temp\ipykernel_18828\4026107325.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask2 = script["Line"].str.contains(regex2)
C:\Users\gqsal\AppData\Local\Temp\ipykernel_18828\346753647.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  mask3 = script["Line"].str.contains(regex3)

In [18]:
movies=movies.copy()

In [25]:
password = getpass()

In [26]:
dbName = "quarantino"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
	
movies.to_sql("movies", if_exists="append", con=engine, index=False)

4803

In [27]:
credits.to_sql("credits", if_exists="append", con=engine, index=False)
tmdb.to_sql("tmdb", if_exists="append", con=engine, index=False)

10866

In [56]:
bafta.to_sql("bafta", if_exists="append", con=engine, index=False)
golden.to_sql("golden", if_exists="append", con=engine, index=False)
oscar.to_sql("oscar", if_exists="append", con=engine, index=False)

8

In [57]:
reg=pd.read_sql_query(
"""
SELECT t.original_title, t.budget, t.revenue, t.cast, t.runtime, t.production_companies, t.vote_average, t.release_year FROM tmdb as t
WHERE (t.director='Quentin Tarantino' AND t.revenue!=0) 
ORDER BY release_year ASC;
""", engine)
reg

,original_title,budget,revenue,cast,runtime,production_companies,vote_average,release_year
0,Reservoir Dogs,1200000,14661007,Harvey Keitel|Tim Roth|Michael Madsen|Chris Pe...,99,Live Entertainment|Lionsgate|Dog Eat Dog Produ...,7.9,1992
1,Pulp Fiction,8000000,213928762,John Travolta|Samuel L. Jackson|Uma Thurman|Br...,154,Miramax Films|A Band Apart|Jersey Films,8.1,1994
2,Jackie Brown,12000000,39673162,Pam Grier|Samuel L. Jackson|Robert Forster|Bri...,154,Miramax Films,7.1,1997
3,Kill Bill: Vol. 1,30000000,180949000,Uma Thurman|Lucy Liu|Vivica A. Fox|Daryl Hanna...,111,Miramax Films|A Band Apart|Super Cool ManChu,7.6,2003
4,Kill Bill: Vol. 2,30000000,152159461,Uma Thurman|David Carradine|Daryl Hannah|Micha...,136,Miramax Films|A Band Apart|Super Cool ManChu,7.5,2004
5,Death Proof,25000000,25037897,Kurt Russell|ZoÃ« Bell|Rosario Dawson|Vanessa ...,113,The Weinstein Company|Dimension Films|Troublem...,6.7,2007
6,Inglourious Basterds,70000000,319131050,Brad Pitt|MÃ©lanie Laurent|Christoph Waltz|Eli...,153,Universal Pictures|A Band Apart|Zehnte Babelsb...,7.7,2009
7,Django Unchained,100000000,425368238,Jamie Foxx|Christoph Waltz|Leonardo DiCaprio|K...,165,Columbia Pictures|The Weinstein Company,7.7,2012
8,The Hateful Eight,44000000,155760117,Samuel L. Jackson|Kurt Russell|Jennifer Jason ...,167,Double Feature Films|The Weinstein Company|Fil...,7.4,2015

In [64]:
reg["Ratio"]=reg["revenue"]/reg["budget"]
reg

,original_title,budget,revenue,cast,runtime,production_companies,vote_average,release_year,Ratio
0,Reservoir Dogs,1200000,14661007,Harvey Keitel|Tim Roth|Michael Madsen|Chris Pe...,99,Live Entertainment|Lionsgate|Dog Eat Dog Produ...,7.9,1992,12.217506
1,Pulp Fiction,8000000,213928762,John Travolta|Samuel L. Jackson|Uma Thurman|Br...,154,Miramax Films|A Band Apart|Jersey Films,8.1,1994,26.741095
2,Jackie Brown,12000000,39673162,Pam Grier|Samuel L. Jackson|Robert Forster|Bri...,154,Miramax Films,7.1,1997,3.306097
3,Kill Bill: Vol. 1,30000000,180949000,Uma Thurman|Lucy Liu|Vivica A. Fox|Daryl Hanna...,111,Miramax Films|A Band Apart|Super Cool ManChu,7.6,2003,6.031633
4,Kill Bill: Vol. 2,30000000,152159461,Uma Thurman|David Carradine|Daryl Hannah|Micha...,136,Miramax Films|A Band Apart|Super Cool ManChu,7.5,2004,5.071982
5,Death Proof,25000000,25037897,Kurt Russell|ZoÃ« Bell|Rosario Dawson|Vanessa ...,113,The Weinstein Company|Dimension Films|Troublem...,6.7,2007,1.001516
6,Inglourious Basterds,70000000,319131050,Brad Pitt|MÃ©lanie Laurent|Christoph Waltz|Eli...,153,Universal Pictures|A Band Apart|Zehnte Babelsb...,7.7,2009,4.559015
7,Django Unchained,100000000,425368238,Jamie Foxx|Christoph Waltz|Leonardo DiCaprio|K...,165,Columbia Pictures|The Weinstein Company,7.7,2012,4.253682
8,The Hateful Eight,44000000,155760117,Samuel L. Jackson|Kurt Russell|Jennifer Jason ...,167,Double Feature Films|The Weinstein Company|Fil...,7.4,2015,3.540003

In [35]:
url="https://es.wikipedia.org/wiki/Quentin_Tarantino"
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [41]:
tags = soup.find_all("table")
bafta = pd.read_html(tags[7].prettify())
bafta=bafta[0]

In [42]:
bafta

,Año,Categoría,Película,Resultado
0,1995,Mejor director,Pulp Fiction,Nominado
1,1995,Mejor guion original,Pulp Fiction,Ganador
2,1995,Mejor película,Pulp Fiction,Nominado
3,2010,Mejor director,Inglourious Basterds,Nominado
4,2010,Mejor guion original,Inglourious Basterds,Nominado
5,2012,Premio Britannia John Schlesinger por excelenc...,Premio Britannia John Schlesinger por excelenc...,Ganador
6,2013,Mejor director,Django Unchained,Nominado
7,2013,Mejor guion original,Django Unchained,Ganador
8,2016,Mejor guion original,The Hateful Eight,Nominado
9,2020,Mejor director,Once Upon a Time in Hollywood,Nominado
10,2020,Mejor guion original,Once Upon a Time in Hollywood,Nominado
11,2020,Mejor película,Once Upon a Time in Hollywood,Nominado

In [60]:
baf=bafta.groupby("Película").agg(Nominations=("Resultado", "count"))
baf

                                                    Nominations
Película
Django Unchained                                              2
Inglourious Basterds                                          2
Once Upon a Time in Hollywood                                 3
Premio Britannia John Schlesinger por excelenci...            1
Pulp Fiction                                                  3
The Hateful Eight                                             1

In [44]:
tags = soup.find_all("table")
golden = pd.read_html(tags[6].prettify())
golden=golden[0]
golden

    Año       Categoría                       Película Resultado
0  1995  Mejor director                   Pulp Fiction  Nominado
1  1995     Mejor guion                   Pulp Fiction   Ganador
2  2010  Mejor director           Inglourious Basterds  Nominado
3  2010     Mejor guion           Inglourious Basterds  Nominado
4  2013  Mejor director               Django Unchained  Nominado
5  2013     Mejor guion               Django Unchained   Ganador
6  2015     Mejor guion              The Hateful Eight  Nominado
7  2020  Mejor director  Once Upon a Time in Hollywood  Nominado
8  2020     Mejor guion  Once Upon a Time in Hollywood   Ganador

In [61]:
gold=golden.groupby("Película").agg(Nominations=("Resultado", "count"))
gold

                               Nominations
Película
Django Unchained                         2
Inglourious Basterds                     2
Once Upon a Time in Hollywood            2
Pulp Fiction                             2
The Hateful Eight                        1

In [45]:
tags = soup.find_all("table")
oscar = pd.read_html(tags[5].prettify())
oscar=oscar[0]
oscar

    Año             Categoría                       Película Resultado
0  1995        Mejor director                   Pulp Fiction  Nominado
1  1995  Mejor guion original                   Pulp Fiction   Ganador
2  2010        Mejor director           Inglourious Basterds  Nominado
3  2010  Mejor guion original           Inglourious Basterds  Nominado
4  2013  Mejor guion original               Django Unchained   Ganador
5  2020        Mejor película  Once Upon a Time in Hollywood  Nominado
6  2020  Mejor guion original  Once Upon a Time in Hollywood  Nominado
7  2020        Mejor director  Once Upon a Time in Hollywood  Nominado

In [62]:
osc=oscar.groupby("Película").agg(Nominations=("Resultado", "count"))
osc

                               Nominations
Película
Django Unchained                         1
Inglourious Basterds                     2
Once Upon a Time in Hollywood            3
Pulp Fiction                             2

In [46]:
tags = soup.find_all("table")
my_table = pd.read_html(tags[4].prettify())
my_table=my_table[0]
my_table

,Actores,Reservoir Dogs (1992),Pulp Fiction (1994),Jackie Brown (1997),Kill Bill (2003),Death Proof (2007),Inglourious Basterds (2009),Django Unchained (2012),The Hateful Eight (2015),Once Upon a Time in Hollywood (2019)
0,Laura Cayouette,NaN,NaN,NaN,✘,NaN,NaN,✘,NaN,NaN
1,Julie Dreyfus,NaN,NaN,NaN,✘,NaN,✘,NaN,NaN,NaN
2,Leonardo DiCaprio,NaN,NaN,NaN,NaN,NaN,NaN,✘,NaN,✘
3,Sid Haig,NaN,NaN,✘,✘,NaN,NaN,NaN,NaN,NaN
4,Samuel L. Jackson,NaN,✘,✘,✘ (Cameo),NaN,✘ (Solo voz),✘,✘,NaN
5,Harvey Keitel,✘,✘,NaN,NaN,NaN,✘ (Voz telefónica),NaN,NaN,NaN
6,Michael Madsen,✘,NaN,NaN,✘,NaN,NaN,NaN,✘,✘
7,James Parks,NaN,NaN,NaN,✘,✘,NaN,✘,✘,NaN
8,Zoë Bell,NaN,NaN,NaN,✘ (Doble),✘,✘ (Doble),✘,✘,✘
9,Michael Parks,NaN,NaN,NaN,✘,NaN,NaN,✘,NaN,NaN
10,Tim Roth,✘,✘,NaN,NaN,NaN,NaN,NaN,✘,✘
11,Kurt Russell,NaN,NaN,NaN,NaN,✘,NaN,NaN,✘,✘
12,Steve Buscemi,✘,✘,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,David Steen,✘,NaN,NaN,NaN,NaN,NaN,✘,NaN,NaN
14,Brad Pitt,NaN,NaN,NaN,NaN,NaN,✘,✘ (como productor),NaN,✘
15,Bo Svenson,NaN,NaN,NaN,✘,NaN,✘,NaN,NaN,NaN
16,Uma Thurman,NaN,✘,NaN,✘,NaN,NaN,NaN,NaN,NaN
17,Christoph Waltz,NaN,NaN,NaN,NaN,NaN,✘,✘,NaN,NaN
18,Walton Goggins,NaN,NaN,NaN,NaN,NaN,NaN,✘,✘,NaN
19,Bruce Dern,NaN,NaN,NaN,NaN,NaN,NaN,✘,✘,✘
20,Lee Horsley,NaN,NaN,NaN,NaN,NaN,NaN,✘,✘,NaN
21,Quentin Tarantino,✘,✘,✘ (Voz telefónica),✘ (cameo),✘,✘ (cameo),✘ (cameo),✘ (Solo voz),✘ (cameo)

In [47]:
my_table["Total"] = my_table.apply(lambda row: row.str.count("✘").sum(), axis=1)

In [48]:
my_table

,Actores,Reservoir Dogs (1992),Pulp Fiction (1994),Jackie Brown (1997),Kill Bill (2003),Death Proof (2007),Inglourious Basterds (2009),Django Unchained (2012),The Hateful Eight (2015),Once Upon a Time in Hollywood (2019),Total
0,Laura Cayouette,NaN,NaN,NaN,✘,NaN,NaN,✘,NaN,NaN,2.0
1,Julie Dreyfus,NaN,NaN,NaN,✘,NaN,✘,NaN,NaN,NaN,2.0
2,Leonardo DiCaprio,NaN,NaN,NaN,NaN,NaN,NaN,✘,NaN,✘,2.0
3,Sid Haig,NaN,NaN,✘,✘,NaN,NaN,NaN,NaN,NaN,2.0
4,Samuel L. Jackson,NaN,✘,✘,✘ (Cameo),NaN,✘ (Solo voz),✘,✘,NaN,6.0
5,Harvey Keitel,✘,✘,NaN,NaN,NaN,✘ (Voz telefónica),NaN,NaN,NaN,3.0
6,Michael Madsen,✘,NaN,NaN,✘,NaN,NaN,NaN,✘,✘,4.0
7,James Parks,NaN,NaN,NaN,✘,✘,NaN,✘,✘,NaN,4.0
8,Zoë Bell,NaN,NaN,NaN,✘ (Doble),✘,✘ (Doble),✘,✘,✘,6.0
9,Michael Parks,NaN,NaN,NaN,✘,NaN,NaN,✘,NaN,NaN,2.0
10,Tim Roth,✘,✘,NaN,NaN,NaN,NaN,NaN,✘,✘,4.0
11,Kurt Russell,NaN,NaN,NaN,NaN,✘,NaN,NaN,✘,✘,3.0
12,Steve Buscemi,✘,✘,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
13,David Steen,✘,NaN,NaN,NaN,NaN,NaN,✘,NaN,NaN,2.0
14,Brad Pitt,NaN,NaN,NaN,NaN,NaN,✘,✘ (como productor),NaN,✘,3.0
15,Bo Svenson,NaN,NaN,NaN,✘,NaN,✘,NaN,NaN,NaN,2.0
16,Uma Thurman,NaN,✘,NaN,✘,NaN,NaN,NaN,NaN,NaN,2.0
17,Christoph Waltz,NaN,NaN,NaN,NaN,NaN,✘,✘,NaN,NaN,2.0
18,Walton Goggins,NaN,NaN,NaN,NaN,NaN,NaN,✘,✘,NaN,2.0
19,Bruce Dern,NaN,NaN,NaN,NaN,NaN,NaN,✘,✘,✘,3.0
20,Lee Horsley,NaN,NaN,NaN,NaN,NaN,NaN,✘,✘,NaN,2.0
21,Quentin Tarantino,✘,✘,✘ (Voz telefónica),✘ (cameo),✘,✘ (cameo),✘ (cameo),✘ (Solo voz),✘ (cameo),9.0

In [49]:
my_table.columns = my_table.columns.str.replace(r"\(.*\)", "", regex=True)

In [50]:
my_table

,Actores,Reservoir Dogs,Pulp Fiction,Jackie Brown,Kill Bill,Death Proof,Inglourious Basterds,Django Unchained,The Hateful Eight,Once Upon a Time in Hollywood,Total
0,Laura Cayouette,NaN,NaN,NaN,✘,NaN,NaN,✘,NaN,NaN,2.0
1,Julie Dreyfus,NaN,NaN,NaN,✘,NaN,✘,NaN,NaN,NaN,2.0
2,Leonardo DiCaprio,NaN,NaN,NaN,NaN,NaN,NaN,✘,NaN,✘,2.0
3,Sid Haig,NaN,NaN,✘,✘,NaN,NaN,NaN,NaN,NaN,2.0
4,Samuel L. Jackson,NaN,✘,✘,✘ (Cameo),NaN,✘ (Solo voz),✘,✘,NaN,6.0
5,Harvey Keitel,✘,✘,NaN,NaN,NaN,✘ (Voz telefónica),NaN,NaN,NaN,3.0
6,Michael Madsen,✘,NaN,NaN,✘,NaN,NaN,NaN,✘,✘,4.0
7,James Parks,NaN,NaN,NaN,✘,✘,NaN,✘,✘,NaN,4.0
8,Zoë Bell,NaN,NaN,NaN,✘ (Doble),✘,✘ (Doble),✘,✘,✘,6.0
9,Michael Parks,NaN,NaN,NaN,✘,NaN,NaN,✘,NaN,NaN,2.0
10,Tim Roth,✘,✘,NaN,NaN,NaN,NaN,NaN,✘,✘,4.0
11,Kurt Russell,NaN,NaN,NaN,NaN,✘,NaN,NaN,✘,✘,3.0
12,Steve Buscemi,✘,✘,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
13,David Steen,✘,NaN,NaN,NaN,NaN,NaN,✘,NaN,NaN,2.0
14,Brad Pitt,NaN,NaN,NaN,NaN,NaN,✘,✘ (como productor),NaN,✘,3.0
15,Bo Svenson,NaN,NaN,NaN,✘,NaN,✘,NaN,NaN,NaN,2.0
16,Uma Thurman,NaN,✘,NaN,✘,NaN,NaN,NaN,NaN,NaN,2.0
17,Christoph Waltz,NaN,NaN,NaN,NaN,NaN,✘,✘,NaN,NaN,2.0
18,Walton Goggins,NaN,NaN,NaN,NaN,NaN,NaN,✘,✘,NaN,2.0
19,Bruce Dern,NaN,NaN,NaN,NaN,NaN,NaN,✘,✘,✘,3.0
20,Lee Horsley,NaN,NaN,NaN,NaN,NaN,NaN,✘,✘,NaN,2.0
21,Quentin Tarantino,✘,✘,✘ (Voz telefónica),✘ (cameo),✘,✘ (cameo),✘ (cameo),✘ (Solo voz),✘ (cameo),9.0

In [55]:
actors_dict = {}
for index, row in my_table.iterrows():
    actor_name = row["Actores"]
    total_films = row["Total"]
    films = [column for column in row.index if "✘" in str(row[column])]

    actors_dict[actor_name] = films

actors_dict

{'Laura Cayouette': ['Kill Bill  ', 'Django Unchained  '],
 'Julie Dreyfus': ['Kill Bill  ', 'Inglourious Basterds  '],
 'Leonardo DiCaprio': ['Django Unchained  ',
  'Once Upon a Time in Hollywood  '],
 'Sid Haig': ['Jackie Brown  ', 'Kill Bill  '],
 'Samuel L. Jackson': ['Pulp Fiction  ',
  'Jackie Brown  ',
  'Kill Bill  ',
  'Inglourious Basterds  ',
  'Django Unchained  ',
  'The Hateful Eight  '],
 'Harvey Keitel': ['Reservoir Dogs  ',
  'Pulp Fiction  ',
  'Inglourious Basterds  '],
 'Michael Madsen': ['Reservoir Dogs  ',
  'Kill Bill  ',
  'The Hateful Eight  ',
  'Once Upon a Time in Hollywood  '],
 'James Parks': ['Kill Bill  ',
  'Death Proof  ',
  'Django Unchained  ',
  'The Hateful Eight  '],
 'Zoë Bell': ['Kill Bill  ',
  'Death Proof  ',
  'Inglourious Basterds  ',
  'Django Unchained  ',
  'The Hateful Eight  ',
  'Once Upon a Time in Hollywood  '],
 'Michael Parks': ['Kill Bill  ', 'Django Unchained  '],
 'Tim Roth': ['Reservoir Dogs  ',
  'Pulp Fiction  ',
  'The Hateful Eight  ',
  'Once Upon a Time in Hollywood  '],
 'Kurt Russell': ['Death Proof  ',
  'The Hateful Eight  ',
  'Once Upon a Time in Hollywood  '],
 'Steve Buscemi': ['Reservoir Dogs  ', 'Pulp Fiction  '],
 'David Steen': ['Reservoir Dogs  ', 'Django Unchained  '],
 'Brad Pitt': ['Inglourious Basterds  ',
  'Django Unchained  ',
  'Once Upon a Time in Hollywood  '],
 'Bo Svenson': ['Kill Bill  ', 'Inglourious Basterds  '],
 'Uma Thurman': ['Pulp Fiction  ', 'Kill Bill  '],
 'Christoph Waltz': ['Inglourious Basterds  ', 'Django Unchained  '],
 'Walton Goggins': ['Django Unchained  ', 'The Hateful Eight  '],
 'Bruce Dern': ['Django Unchained  ',
  'The Hateful Eight  ',
  'Once Upon a Time in Hollywood  '],
 'Lee Horsley': ['Django Unchained  ', 'The Hateful Eight  '],
 'Quentin Tarantino': ['Reservoir Dogs  ',
  'Pulp Fiction  ',
  'Jackie Brown  ',
  'Kill Bill  ',
  'Death Proof  ',
  'Inglourious Basterds  ',
  'Django Unchained  ',
  'The Hateful Eight  ',
  'Once Upon a Time in Hollywood  ']}

In [66]:
reg.sample()

,original_title,budget,revenue,cast,runtime,production_companies,vote_average,release_year,Ratio
6,Inglourious Basterds,70000000,319131050,Brad Pitt|MÃ©lanie Laurent|Christoph Waltz|Eli...,153,Universal Pictures|A Band Apart|Zehnte Babelsb...,7.7,2009,4.559015

In [78]:
cleanreg=reg[["original_title", "budget", "runtime", "vote_average"]]

In [79]:
cleanreg.loc[len(cleanreg)] = ["Once Upon a Time in Hollywood", 90000000, 161, 7.4]
cleanreg

C:\Users\gqsal\AppData\Local\Temp\ipykernel_18828\1230675755.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanreg.loc[len(cleanreg)] = ["Once Upon a Time in Hollywood", 90000000, 161, 7.4]

                  original_title     budget  runtime  vote_average
0                 Reservoir Dogs    1200000       99           7.9
1                   Pulp Fiction    8000000      154           8.1
2                   Jackie Brown   12000000      154           7.1
3              Kill Bill: Vol. 1   30000000      111           7.6
4              Kill Bill: Vol. 2   30000000      136           7.5
5                    Death Proof   25000000      113           6.7
6           Inglourious Basterds   70000000      153           7.7
7               Django Unchained  100000000      165           7.7
8              The Hateful Eight   44000000      167           7.4
9  Once Upon a Time in Hollywood   90000000      161           7.4

In [80]:
cleanreg["death"] = [11, 7, 4, 62, 13, 6, 396, 64, 20, 4]

C:\Users\gqsal\AppData\Local\Temp\ipykernel_18828\2112432371.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanreg["death"] = [11, 7, 4, 62, 13, 6, 396, 64, 20, 4]

In [81]:
cleanreg["Position"] = list(range(1, 11))

C:\Users\gqsal\AppData\Local\Temp\ipykernel_18828\820194908.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanreg["Position"] = list(range(1, 11))

In [82]:
cleanreg.iloc[3:5, cleanreg.columns.get_loc("budget")] /= 2

In [83]:
cleanreg

,original_title,budget,runtime,vote_average,death,Position
0,Reservoir Dogs,1200000,99,7.9,11,1
1,Pulp Fiction,8000000,154,8.1,7,2
2,Jackie Brown,12000000,154,7.1,4,3
3,Kill Bill: Vol. 1,15000000,111,7.6,62,4
4,Kill Bill: Vol. 2,15000000,136,7.5,13,5
5,Death Proof,25000000,113,6.7,6,6
6,Inglourious Basterds,70000000,153,7.7,396,7
7,Django Unchained,100000000,165,7.7,64,8
8,The Hateful Eight,44000000,167,7.4,20,9
9,Once Upon a Time in Hollywood,90000000,161,7.4,4,10

In [84]:
cleanreg["SLJ"] = [0,1,1,0,1,0,1,1,1,0]

C:\Users\gqsal\AppData\Local\Temp\ipykernel_18828\2571686118.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanreg["SLJ"] = [0,1,1,0,1,0,1,1,1,0]

In [85]:
cleanreg["Zoe"] = [0,0,0,1,1,1,1,1,1,1]

C:\Users\gqsal\AppData\Local\Temp\ipykernel_18828\3138093544.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanreg["Zoe"] = [0,0,0,1,1,1,1,1,1,1]

In [86]:
cleanreg["QT"] = [1,1,0,0,0,1,0,0,0,0]

C:\Users\gqsal\AppData\Local\Temp\ipykernel_18828\2727944776.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanreg["QT"] = [1,1,0,0,0,1,0,0,0,0]

In [87]:
cleanreg["QTCameo"]=[0,0,0,1,1,0,1,1,0,1,]

C:\Users\gqsal\AppData\Local\Temp\ipykernel_18828\407718299.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanreg["QTCameo"]=[0,0,0,1,1,0,1,1,0,1,]

In [88]:
cleanreg["Roth"]=[1,1,0,0,0,0,0,0,1,1]

C:\Users\gqsal\AppData\Local\Temp\ipykernel_18828\1469717126.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanreg["Roth"]=[1,1,0,0,0,0,0,0,1,1]

In [89]:
cleanreg["Madsen"]=[1,0,0,1,1,0,0,0,1,1]

C:\Users\gqsal\AppData\Local\Temp\ipykernel_18828\1817483734.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanreg["Madsen"]=[1,0,0,1,1,0,0,0,1,1]

In [90]:
cleanreg

,original_title,budget,runtime,vote_average,death,Position,SLJ,Zoe,QT,QTCameo,Roth,Madsen
0,Reservoir Dogs,1200000,99,7.9,11,1,0,0,1,0,1,1
1,Pulp Fiction,8000000,154,8.1,7,2,1,0,1,0,1,0
2,Jackie Brown,12000000,154,7.1,4,3,1,0,0,0,0,0
3,Kill Bill: Vol. 1,15000000,111,7.6,62,4,0,1,0,1,0,1
4,Kill Bill: Vol. 2,15000000,136,7.5,13,5,1,1,0,1,0,1
5,Death Proof,25000000,113,6.7,6,6,0,1,1,0,0,0
6,Inglourious Basterds,70000000,153,7.7,396,7,1,1,0,1,0,0
7,Django Unchained,100000000,165,7.7,64,8,1,1,0,1,0,0
8,The Hateful Eight,44000000,167,7.4,20,9,1,1,0,0,1,1
9,Once Upon a Time in Hollywood,90000000,161,7.4,4,10,0,1,0,1,1,1

In [96]:
import statsmodels.api as sm

X = cleanreg.drop(columns=["original_title"])
y = cleanreg["vote_average"]

X = sm.add_constant(X)

model = sm.OLS(y, X).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           vote_average   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                       nan
Date:                Tue, 28 Feb 2023   Prob (F-statistic):                nan
Time:                        02:16:42   Log-Likelihood:                 198.25
No. Observations:                  10   AIC:                            -376.5
Df Residuals:                       0   BIC:                            -373.5
Df Model:                           9
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const            0.1057        inf          0        nan         nan         nan
budget        2.256e-09        inf          0        nan         nan         nan
runtime          0.0048        inf          0        nan         nan         nan
vote_average     0.9105        inf          0        nan         nan         nan
death            0.0002        inf          0        nan         nan         nan
Position        -0.0606        inf         -0        nan         nan         nan
SLJ             -0.0594        inf         -0        nan         nan         nan
Zoe              0.1638        inf          0        nan         nan         nan
QT               0.0909        inf          0        nan         nan         nan
QTCameo         -0.0705        inf         -0        nan         nan         nan
Roth            -0.0535        inf         -0        nan         nan         nan
Madsen           0.1420        inf          0        nan         nan         nan
==============================================================================
Omnibus:                        1.789   Durbin-Watson:                   0.455
Prob(Omnibus):                  0.409   Jarque-Bera (JB):                1.225
Skew:                           0.752   Prob(JB):                        0.542
Kurtosis:                       2.178   Cond. No.                     7.63e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The input rank is higher than the number of observations.
[3] The condition number is large, 7.63e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

c:\Users\gqsal\miniconda3\envs\ironhack\lib\site-packages\scipy\stats\_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "
c:\Users\gqsal\miniconda3\envs\ironhack\lib\site-packages\statsmodels\regression\linear_model.py:1765: RuntimeWarning: divide by zero encountered in divide
  return 1 - (np.divide(self.nobs - self.k_constant, self.df_resid)
c:\Users\gqsal\miniconda3\envs\ironhack\lib\site-packages\statsmodels\regression\linear_model.py:1765: RuntimeWarning: invalid value encountered in scalar multiply
  return 1 - (np.divide(self.nobs - self.k_constant, self.df_resid)
c:\Users\gqsal\miniconda3\envs\ironhack\lib\site-packages\statsmodels\regression\linear_model.py:1687: RuntimeWarning: divide by zero encountered in scalar divide
  return np.dot(wresid, wresid) / self.df_resid

In [97]:
from sklearn.linear_model import LinearRegression

X = cleanreg.drop(columns=["original_title"])
y = cleanreg["vote_average"]

reg_model = LinearRegression().fit(X, y)

coefficients_table = pd.DataFrame({'Feature': X.columns, 'Coefficient': reg_model.coef_})
print(coefficients_table)

         Feature   Coefficient
0         budget  4.293470e-09
1        runtime  3.290188e-03
2   vote_average  7.328595e-01
3          death  1.453950e-04
4       Position -1.200152e-01
5            SLJ  1.817082e-02
6            Zoe  3.748653e-01
7             QT -2.471335e-02
8        QTCameo -3.724617e-02
9           Roth  1.885764e-01
10        Madsen  5.430185e-02

In [98]:
df = pd.DataFrame({'y': cleanreg['vote_average'], 
                   'x1': cleanreg['budget'], 
                   'x2': cleanreg['runtime'], 
                   'x3': cleanreg['death'],
                   'x4': cleanreg['Position']})
df = sm.add_constant(df)

model = sm.OLS(df['y'], df[['const', 'x1', 'x2', 'x3', 'x4']])

results = model.fit()

print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.397
Model:                            OLS   Adj. R-squared:                 -0.085
Method:                 Least Squares   F-statistic:                    0.8243
Date:                Tue, 28 Feb 2023   Prob (F-statistic):              0.562
Time:                        02:39:14   Log-Likelihood:                -1.9290
No. Observations:                  10   AIC:                             13.86
Df Residuals:                       5   BIC:                             15.37
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          7.3432      0.920      7.980      0.000       4.978       9.709
x1          7.667e-09   8.07e-09      0.950      0.386   -1.31e-08    2.84e-08
x2             0.0046      0.007      0.638      0.552      -0.014       0.023
x3             0.0004      0.001      0.348      0.742      -0.003       0.004
x4            -0.1452      0.089     -1.638      0.162      -0.373       0.083
==============================================================================
Omnibus:                        3.962   Durbin-Watson:                   2.454
Prob(Omnibus):                  0.138   Jarque-Bera (JB):                2.049
Skew:                          -1.103   Prob(JB):                        0.359
Kurtosis:                       2.777   Cond. No.                     3.59e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.59e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

c:\Users\gqsal\miniconda3\envs\ironhack\lib\site-packages\scipy\stats\_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

In [99]:
df2 = pd.DataFrame({'y': cleanreg['vote_average'], 
                   'x1': cleanreg['SLJ'], 
                   'x2': cleanreg['Zoe'], 
                   'x3': cleanreg['QT'],
                   'x4': cleanreg['QTCameo'], 
                   'x5': cleanreg['Roth'],
                   'x6': cleanreg['Madsen']})

df2 = sm.add_constant(df2)
model2 = sm.OLS(df2['y'], df2[['const', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6']])
results2 = model2.fit()
print(results2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.792
Model:                            OLS   Adj. R-squared:                  0.377
Method:                 Least Squares   F-statistic:                     1.908
Date:                Tue, 28 Feb 2023   Prob (F-statistic):              0.318
Time:                        02:41:52   Log-Likelihood:                 3.3979
No. Observations:                  10   AIC:                             7.204
Df Residuals:                       3   BIC:                             9.322
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          6.7881      0.468     14.504      0.001       5.299       8.277
x1             0.4397      0.286      1.539      0.221      -0.470       1.349
x2            -0.4643      0.303     -1.532      0.223      -1.429       0.500
x3             0.5040      0.381      1.322      0.278      -0.709       1.717
x4             0.8230      0.313      2.627      0.079      -0.174       1.820
x5             0.3397      0.286      1.189      0.320      -0.570       1.249
x6             0.1690      0.303      0.558      0.616      -0.795       1.134
==============================================================================
Omnibus:                        0.786   Durbin-Watson:                   2.400
Prob(Omnibus):                  0.675   Jarque-Bera (JB):                0.600
Skew:                          -0.168   Prob(JB):                        0.741
Kurtosis:                       1.848   Cond. No.                         10.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

c:\Users\gqsal\miniconda3\envs\ironhack\lib\site-packages\scipy\stats\_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

In [102]:
correl = cleanreg.drop(columns=["original_title"])

corr_table = correl.corr()

corr_table

,budget,runtime,vote_average,death,Position,SLJ,Zoe,QT,QTCameo,Roth,Madsen
budget,1.000000,0.622373,-0.009424,0.367527,0.845609,1.242581e-01,0.590770,-0.508065,5.824990e-01,-0.052845,-0.145187
runtime,0.622373,1.000000,0.086811,0.158605,0.593316,7.000354e-01,0.155757,-0.533628,1.647154e-01,0.136214,-0.274526
vote_average,-0.009424,0.086811,1.000000,0.212850,-0.317743,2.375915e-01,-0.329040,0.098135,1.851748e-01,0.410385,0.132268
death,0.367527,0.158605,0.212850,1.000000,0.201137,2.706168e-01,0.293685,-0.289873,4.288151e-01,-0.343708,-0.320520
Position,0.845609,0.593316,-0.317743,0.201137,1.000000,7.106691e-02,0.797724,-0.569803,4.526019e-01,0.000000,0.104447
SLJ,0.124258,0.700035,0.237592,0.270617,0.071067,1.000000e+00,-0.089087,-0.356348,2.266233e-17,-0.166667,-0.408248
Zoe,0.590770,0.155757,-0.329040,0.293685,0.797724,-8.908708e-02,1.000000,-0.523810,6.546537e-01,-0.356348,0.218218
QT,-0.508065,-0.533628,0.098135,-0.289873,-0.569803,-3.563483e-01,-0.523810,1.000000,-6.546537e-01,0.356348,-0.218218
QTCameo,0.582499,0.164715,0.185175,0.428815,0.452602,2.266233e-17,0.654654,-0.654654,1.000000e+00,-0.408248,0.200000
Roth,-0.052845,0.136214,0.410385,-0.343708,0.000000,-1.666667e-01,-0.356348,0.356348,-4.082483e-01,1.000000,0.408248
Madsen,-0.145187,-0.274526,0.132268,-0.320520,0.104447,-4.082483e-01,0.218218,-0.218218,2.000000e-01,0.408248,1.000000

In [103]:
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(correl.values, i) for i in range(correl.shape[1])]
vif["features"] = correl.columns

print(vif)

    VIF Factor      features
0          inf        budget
1          inf       runtime
2          inf  vote_average
3          inf         death
4          inf      Position
5          inf           SLJ
6          inf           Zoe
7          inf            QT
8          inf       QTCameo
9          inf          Roth
10         inf        Madsen

c:\Users\gqsal\miniconda3\envs\ironhack\lib\site-packages\statsmodels\stats\outliers_influence.py:195: RuntimeWarning: divide by zero encountered in scalar divide
  vif = 1. / (1. - r_squared_i)

In [108]:
reg["revenue"]

0     14661007
1    213928762
2     39673162
3    180949000
4    152159461
5     25037897
6    319131050
7    425368238
8    155760117
Name: revenue, dtype: int64

In [107]:
cleanreg["Year"]=(1992,1994,1997,2003,2004,2007,2009,2012,2015,2019)

C:\Users\gqsal\AppData\Local\Temp\ipykernel_18828\560520220.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanreg["Year"]=(1992,1994,1997,2003,2004,2007,2009,2012,2015,2019)

In [109]:
clean=cleanreg.copy()

In [110]:
clean["revenue"]=(14661007, 213928762, 39673162, 180949000, 152159461, 25037897, 319131050, 425368238, 155760117, 374000000)

In [111]:
clean.sample()

,original_title,budget,runtime,vote_average,death,Position,SLJ,Zoe,QT,QTCameo,Roth,Madsen,Year,revenue
7,Django Unchained,100000000,165,7.7,64,8,1,1,0,1,0,0,2012,425368238

In [112]:
clean["Nominations"]=(0,7,0,0,0,0,6,5,2,8)

In [113]:
clean["Awards"]=(0,3,0,0,0,0,0,3,0,2)

In [125]:
ols = pd.DataFrame({'y': clean['revenue'], 
                   'x1': clean['budget'], 
                   'x2': clean['Roth'], 
                   'x3': clean['Madsen'],
                   'x4': clean['Nominations'], 
                   'x5': clean['vote_average']})

ols = sm.add_constant(ols)

ols = sm.OLS(ols['y'], ols[['const', 'x1', 'x2','x3', 'x4', 'x5']])
theresult = ols.fit()

print(theresult.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.972
Model:                            OLS   Adj. R-squared:                  0.938
Method:                 Least Squares   F-statistic:                     28.19
Date:                Tue, 28 Feb 2023   Prob (F-statistic):            0.00324
Time:                        03:10:39   Log-Likelihood:                -183.65
No. Observations:                  10   AIC:                             379.3
Df Residuals:                       4   BIC:                             381.1
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -6.574e+08   2.92e+08     -2.254      0.087   -1.47e+09    1.52e+08
x1             2.0109      0.597      3.371      0.028       0.355       3.667
x2         -1.117e+08   3.66e+07     -3.050      0.038   -2.13e+08      -1e+07
x3          6.629e+07   3.24e+07      2.045      0.110   -2.37e+07    1.56e+08
x4          2.512e+07   8.42e+06      2.984      0.041    1.74e+06    4.85e+07
x5          9.484e+07   3.96e+07      2.398      0.075    -1.5e+07    2.05e+08
==============================================================================
Omnibus:                        1.659   Durbin-Watson:                   2.321
Prob(Omnibus):                  0.436   Jarque-Bera (JB):                1.046
Skew:                          -0.731   Prob(JB):                        0.593
Kurtosis:                       2.391   Cond. No.                     1.32e+09
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.32e+09. This might indicate that there are
strong multicollinearity or other numerical problems.

c:\Users\gqsal\miniconda3\envs\ironhack\lib\site-packages\scipy\stats\_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

In [126]:
clean["Ratio"]=clean["revenue"]/clean["budget"]

In [127]:
clean.to_csv('regression.csv', index=False)